.breadcrumb {
  background: transparent;
  font-size: 14px;
}


.breadcrumb a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb span {
  color: #333;
}

.breadcrumb a:hover {
  text-decoration: underline;
}
