.product-card {
  position: relative;
  width: 500px;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: white;
}

.iconn-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title-box {
  background-color: #ffcc00;
  font-weight: bold;
  padding: 10px;
}

.details-box {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffcc00;
  color: black;
  width: 100%;
  max-height: 400px; /* limit height for scroll */
  padding: 15px;
  overflow-y: auto; /* enables vertical scroll */
  overflow-x: hidden;
  transform: translateY(100%);
  transition: transform 0.4s ease;
  scroll-behavior: smooth;

  /* Hide scrollbar for Chrome, Safari, Edge */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Chrome, Safari, and Opera */
.details-box::-webkit-scrollbar {
  display: none;
}


.product-card:hover .details-box {
  transform: translateY(0);
}
