.nav-link {
  color: black;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: black;
  background-color: #ffc107; /* Yellow on hover */
}

.active-tab {
  color: black !important;
  border-bottom: 3px solid #ffc107;
  background-color: white !important;
}
